/* Imp */

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}
/*   */


/* Navbar */

.nav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(179, 71, 0) , orange);
  position: fixed;
}

.nav li {
  display:inline;
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  font-family: 'Roboto';
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: rgb(217, 167, 58);
  color:rgb(255, 255, 204);
}
/*   */

/* Homepage */

.presentazione {
    background-image: url("../img/chris-lawton-5IHz5WhosQE-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    text-shadow: 3px 2px 10px rgb(0,0,0);
    color: cornsilk;
    padding-top: 60px;
}

.testo h1 {

    color: darkorange;
    font-size: 38px;
}

.testo p {
    margin-top: 60px;
    font-size: 27px;
    font-family: 'Roboto';
}

/*   */

/*Overlay */

.carta {
  position: relative;
}
.overlay-carta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 25%;
  background-color:rgb(255, 204, 153);
  z-index: 2;
}

.carta:hover .overlay-carta {
  opacity: 0.3;
<<<<<<< HEAD
} */

=======
}
>>>>>>> 06fd21abf587962649de064f9780fab7df5e5018
/*    */


/* Footer */
footer {
  /* background-color: rgb(153, 102, 0); */
  background-image: linear-gradient(to right, rgb(179, 71, 0) , orange);
  margin-top: 60px;
  padding: 5px;
  text-align: center;
}

.contattini {
    margin-top: 20px;
    font-size: 24px;
}

.contattini li {
    display: inline;
    padding-right: 16px;
    color: white;
}

.footnav {
    font-size: 24px;
}
.footnav li {
    display: inline-block;
}

.footnav li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    padding: 14px 16px;
    text-decoration: none;
}

.footnav li a:hover {
    background-color: hsl(39, 100%, 51%);
    color:black;
    border-radius: 30px;
}
