/* Navbar */

ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(179, 71, 0) , orange);
  border-radius: 10px;
}

li {
  display:inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(255, 204, 102);
  color:rgb(255, 255, 204);
}
/*   */

/* Homepage */

.presentazione {
    padding: 20px;
}

.presentazione p {
    background-image: url("../img/chris-lawton-5IHz5WhosQE-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

/*   */




/* Footer */
footer {
  background-color: DarkSalmon;
}
