
.center {
  text-align: center;

}

h1,p,label,a,legend,li {
    font-family: 'Roboto',sans-serif;

  }
  .nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(179, 71, 0) , orange);
    position: fixed;
  }

  .nav li {
    display:inline;
    float: left;
  }

  .nav li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav li a:hover {
    background-color: rgb(217, 167, 58);
    color:rgb(255, 255, 204);
  }

.dude {
  width: 10%;
  height: 10%;
  left: 3.59%;
  right: 91.15%;
  top: 4.07%;
  bottom: 89.51%;
  }

  body {
    background-image:'Sfondo contatti.png';
  }
  img      {padding-top: 80px}
  .dati    {font-size: 20px}
  .forms   {margin-top: 15px;
            margin-bottom: 70px;}
.contatti  {margin-bottom: 50px;}
